node_modules

/.cache
/build
.env
*.cpuprofile
/prisma/*.db
/prisma/*.db-journal
/client
public
coverage
/playwright-report
/test-results
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/vitest-report
audit.json
